/*General*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
}

/*Header*/

header {
    padding: 20px 200px;
    background-color: #255ee9;
    margin: 0;
}
.Menu {
    width: 1190px;
    display: flex;
    align-items: center;
}
.Logo, .Login { 
    flex-shrink: 0; 
    width: 100px;
}
.Login {
    padding: 15px 20px;
    border-radius: 35px;
    display: inline-block;
    border-color: #ffffff;
}
.Link {
    color: #ffffff;
    flex-grow: 1;
    display: flex;
    gap: 60px;
    justify-content: center;
}
/*/Header*/


/*Main*/
main > section {
    padding: 50px 250px;
}
.Scatola {
    height: 490px;
    display: flex;
    align-items: center;
}

/*Sezione 1*/
.Sezione-1{
    background-image: url(img/jumbo.png);
    background-size: cover;
    padding: 50px 350px;
}
.Jumbotron {
 width: 907px;
 height: 397px;
 display: inline-block;
text-align: center;
 color: #ffffff;
}
.Button {
    
}
.Button-1, .Button-2 {
    padding: 15px 20px;
    border-radius: 35px;
    display: inline-block;
    border-color: #ffffff;
}
.Button-2 {
    background-color: #23272a;
    color: #ffffff;
}
.Titolo {
    color: #ffffff;
    font-size: 40px;
    padding-bottom: 30px;
}
.Testo {
    font-size: 20px;
    line-height: 40px;
    padding-bottom: 20px;
}
/*/Sezione 1*/

/*Sezione 2*/
.Contenitore-2 {
    width: 50%;
    padding: 60px;
    flex-shrink: 0;
}
.Contenitore-1 {
    width: 100%;
    flex-grow: 1;
}
.Sezione-3, .Sezione-5 {
    background-color: #d3d3d3;
}
.Titolo-2 {
    font-size: 25px;
    margin-bottom: 25px;
}
.Testo-2 {
    padding-top: 30px;
}
/*/Sezione 2*/

/*Sezione 5*/
.Contenitore-3 {
    height: 900px;
    width: 1190px;
    text-align: center;
}
.Second {
    background-color: #7288da;
    color: #ffffff;
    padding: 15px 20px;
    border-radius: 35px;
    display: inline-block;
}
.Img {
    width: 90%;
}
.Titolo-3 {
    padding: 30px;
    background-image: url(img/stars.svg);
    background-repeat: no-repeat;
    background-position: top center;
}
/*/Sezione 5*/

/*Sezione 6*/
.Contenitore-5 {
    width: 210px;
    background-color: #f08080;
    flex-shrink: 0;
    border: 2px dashed black;
}
.Contenitore-4 {
    flex-grow: 1;
    background-color: #20b2aa;
    border: 2px dashed black;
}
.Sezione-6 {
    background-color: #23272a;
}
/*/Sezione 6*/
/*/Main*/

/*Footer*/
footer {
    padding: 20px 200px;
    background-color: #23272a;
    margin: 0;
}
.Menu-2 {
    width: 1190px;
    display: flex;
    background-color: #7fffd4;
    padding: 10px 0px;
    justify-content:space-between ;
}
.Logo-2, .Bottone {
    width: 60px;
    background-color: #ffb6c1;
    border: 2px dashed black;
}
/*/Footer*/