/*General*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
}

/*Header*/

header {
    padding: 20px 200px;
    background-color: #add8e6;
    margin: 0;
}
.Menu {
    width: 1190px;
    display: flex;
    background-color: #daa520;
    border: 2px dashed black;
}
.Logo, .Login { 
    flex-shrink: 0; 
    width: 250px;
}
.Login {
    text-align: right;
}
.Link {
    text-align: center;
    flex-grow: 1;
    border-left: 2px dashed black;
    border-right: 2px dashed black;
}
/*/Header*/


/*Main*/
main > section {
    padding: 50px 250px;
}
.Scatola {
    height: 490px;
    display: flex;
}

/*Sezione 1*/
.Sezione-1{
    background-color: #00008b;
    padding: 50px 350px;
}
.Jumbotron {
 width: 907px;
 height: 397px;
 background-color: #ee82ee;
 align-self: center;
}
/*/Sezione 1*/

/*Sezione 2*/
.Contenitore-2 {
    width: 595px;
    background-color: #ffc0cb;
    flex-shrink: 0;
}
.Contenitore-1 {
    background-color: #1e90ff;
    flex-grow: 1;
}
.Sezione-3, .Sezione-5 {
    background-color: #d3d3d3;
}
/*/Sezione 2*/

/*Sezione 5*/
.Contenitore-3 {
    height: 900px;
    width: 1190px;
    background-color: #228b22;
}
/*/Sezione 5*/

/*Sezione 6*/
.Contenitore-5 {
    width: 210px;
    background-color: #f08080;
    flex-shrink: 0;
    border: 2px dashed black;
}
.Contenitore-4 {
    flex-grow: 1;
    background-color: #20b2aa;
    border: 2px dashed black;
}
.Sezione-6 {
    background-color: #23272a;
}
/*/Sezione 6*/
/*/Main*/

/*Footer*/
footer {
    padding: 20px 200px;
    background-color: #23272a;
    margin: 0;
}
.Menu-2 {
    width: 1190px;
    display: flex;
    background-color: #7fffd4;
    padding: 10px 0px;
    justify-content:space-between ;
}
.Logo-2, .Bottone {
    width: 60px;
    background-color: #ffb6c1;
    border: 2px dashed black;
}
/*/Footer*/