/*General*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
}

/*Header*/

header {
    padding: 20px 200px;
    background-color: #add8e6;
    margin: 0;
}
.Menu {
    width: 1190px;
    display: flex;
    background-color: #daa520;
    border: 2px dashed black;
}
.Menu > .Logo, 
.Menu > .Login { 
    flex-shrink: 0; 
    width: 250px;
}
.Menu > .Login {
    text-align: right;
}
.Menu>.Link {
    text-align: center;
    flex-grow: 1;
    border-left: 2px dashed black;
    border-right: 2px dashed black;
}
/*/Header*/


/*Main*/
main > section {
    padding: 50px 250px;
}

.Sezione-1{
    background-color: #00008b;
    padding: 50px 350px;
}

.Jumbotron {
 width: 907px;
 height: 397px;
 background-color: #ee82ee;
 align-self: center;
}
/*/Main*/